In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../raw_data/steam-200k.csv",names = ['user','game','purchase','hour','4' ])

df.head()

        user                        game  purchase   hour  4
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
1  151603712  The Elder Scrolls V Skyrim      play  273.0  0
2  151603712                   Fallout 4  purchase    1.0  0
3  151603712                   Fallout 4      play   87.0  0
4  151603712                       Spore  purchase    1.0  0

In [23]:

# df.groupby(['user','game']).max() # la colonne hour va prendre le nombre d'heure normalement et seulement 1 si le jeux a été acheté sans être joué

# # on voit bien que l'utilisateur a acheté sans joué
# df[(df['game']=='Counter-Strike Nexon Zombies')&(df['user']==309812026)]


# # l'utilisateur a tres peu joué
# df[(df['game']=='Dota 2')&(df['user']==309824202)]

# #nombre total d'heure joué par jeux, et acheté/joué

# df.groupby(['purchase','game']).sum().sort_values(by='hour')

# #on trouve ce genre de jeux presque pas joué
# df[df['game']=='Mr. Robot']

In [33]:
df[(df['game']=='Dota 2')&(df['user']==309824202)]

            user    game  purchase  hour  4  purchase1
10221  309824202  Dota 2  purchase   1.0  0          1
10222  309824202  Dota 2      play   0.7  0          0

In [30]:
import numpy as np
df['purchase1'] = np.where(df['purchase']== 'purchase', int(True), int(False))
df

             user                        game  purchase   hour  4  purchase1
0       151603712  The Elder Scrolls V Skyrim  purchase    1.0  0          1
1       151603712  The Elder Scrolls V Skyrim      play  273.0  0          0
2       151603712                   Fallout 4  purchase    1.0  0          1
3       151603712                   Fallout 4      play   87.0  0          0
4       151603712                       Spore  purchase    1.0  0          1
...           ...                         ...       ...    ... ..        ...
199995  128470551                 Titan Souls      play    1.5  0          0
199996  128470551  Grand Theft Auto Vice City  purchase    1.0  0          1
199997  128470551  Grand Theft Auto Vice City      play    1.5  0          0
199998  128470551                        RUSH  purchase    1.0  0          1
199999  128470551                        RUSH      play    1.4  0          0

[200000 rows x 6 columns]

In [39]:
df["hour"] = df["hour"].replace(1.0,0)

In [40]:
df

             user                        game  purchase   hour  4  purchase1
0       151603712  The Elder Scrolls V Skyrim  purchase    0.0  0          1
1       151603712  The Elder Scrolls V Skyrim      play  273.0  0          0
2       151603712                   Fallout 4  purchase    0.0  0          1
3       151603712                   Fallout 4      play   87.0  0          0
4       151603712                       Spore  purchase    0.0  0          1
...           ...                         ...       ...    ... ..        ...
199995  128470551                 Titan Souls      play    1.5  0          0
199996  128470551  Grand Theft Auto Vice City  purchase    0.0  0          1
199997  128470551  Grand Theft Auto Vice City      play    1.5  0          0
199998  128470551                        RUSH  purchase    0.0  0          1
199999  128470551                        RUSH      play    1.4  0          0

[200000 rows x 6 columns]